<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav id="adminheader" th:fragment="adminheader" class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Coffee Shop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" th:href="@{/admin/products}">Products</a> 
				<a class="nav-item nav-link" th:href="@{/admin/persons}">Persons</a> 
				<a class="nav-item nav-link" th:href="@{/admin/orders}">Orders</a>

			</div>
		</div>
	</nav>

</body>
</html>