<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div id="orderlist" th:fragment="orderlist" class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<table class="table" th:object="${orders}">
				<thead>
					<tr>
						<th scope="col">Date</th>
						<th scope="col">Total Amount</th>
						<th scope="col">Details</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${orders}">
						<td th:text="${order.orderDate}">Order Date</td>
						<td th:text="${order.getTotalAmount()}">Total Amount</td>	
						<td><a th:href="@{/order/{id}(id=${order.id})}">View Details</a></td>					
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div id="viewdetail" th:fragment="viewdetail" class="container h-100">
		<div class="row justify-content-left align-items-left">
			<p class="col">Order Date: <span th:text="${order.orderDate}">...</span> </p>
			<p class="col">Total Amount: <span th:text="${order.getTotalAmount()}">...</span></p>
		</div>
		<div class="row justify-content-center align-items-center">
			<table class="table" th:object="${order.orderLines}">
				<thead>
					<tr>
						<th scope="col">Quantity</th>
						<th scope="col">Product Name</th>
						<th scope="col">Description</th>
						<th scope="col">Price</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${order.orderLines}">
						<th th:text="${item.quantity}">Quantity</th>
						<td th:text="${item.product.productName}">Product Name</td>
						<td th:text="${item.product.description}">Description</td>
						<td th:text="${item.product.price}">Price</td>				
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row justify-content-left align-items-left">
			<div> Total Price: <span th:object="${order}" th:text="${order.getTotalAmount()}"> </span> </div>
		</div>
	</div>

</body>
</html>