<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<div id="userlistleft" th:fragment="userlistleft" class="row">
		<div class="col-xs-4">
			<div class="col-xs-12" id="sticky-sidebar">
				<a class="nav-item nav-link" th:href="@{/admin/persons/create}" th:text="'Create User'">Create User</a> 
			</div>
		</div>
	</div>
	
	<div id="userlist" th:fragment="userlist" class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<table class="table" th:object="${persons}">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">First Name</th>
						<th scope="col">Last Name</th>
						<th scope="col">Phone</th>
						<th scope="col">Email</th>						
					</tr>
				</thead>
				<tbody>
					<tr th:each="person : ${persons}">
						<th th:text="${person.id}" scope="row">id</th>
						<td th:text="${person.firstName}">First Name</td>
						<td th:text="${person.lastName}">Last name</td>
						<td th:text="${person.phone}">Phone</td>
						<td th:text="${person.email}">Email</td>				
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div id="userformfield" th:fragment="userformfield">
		<div class="form-group">
			<div class="col-sm-9">
				<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message"></label>
				<input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control" /> 
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-9">
				<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
				<input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control" /> 
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-9">
				<label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="validation-message"></label>
				<input type="tel" th:field="*{phone}" placeholder="Phone" class="form-control" /> 
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-9">
				<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
				<input type="email" th:field="*{email}" placeholder="Email" class="form-control" /> 
			</div>
		</div>					
		
		<div class="form-group">
			<div class="col-sm-9">
				<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
				<input type="password" th:field="*{password}" placeholder="Password" class="form-control" /> 
			</div>
		</div>
	</div>

	<div id="userformadmin" th:fragment="userformadmin" class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/admin/persons/create}" th:object="${person}" method="post" class="form-horizontal" role="form">
					<h2 class="from-group">User Form</h2>
					
					<div th:replace="~{this :: userformfield}"></div>
				
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Create User</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
				</form>
			</div>
		</div>
	</div>

	<div id="userform" th:fragment="userform" class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${person}" method="post" class="form-horizontal" role="form">
					<h2 class="from-group">Registration Form</h2>
					
					<div th:replace="~{this :: userformfield}"></div>
				
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
				</form>
			</div>
		</div>
		
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-md-6 col-md-offset-3">
				<form th:action="@{/login}" method="get">
					<div class="form-group">
						<div class="col-sm-9">
							<button class="btn btn-md btn-primary btn-block" type="Submit"> Go to Login page </button>
						</div>				
					</div>
				</form>	
			</div>
		</div>
	</div>
</body>
</html>
