<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div th:replace="~{commons/header :: adminheader}">Header</div>
		<div class="row col-center">
			<h1 th:text="${userName}">Welcome</h1>
			<h2 th:text="${adminMessage}">Welcome</h2>
		</div>
	</div>
</body>
</html>